/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #e2e0e0;
  --white-soft-hover: hsl(0, 0%, 85%);

  --black: #222222;
  --black-soft: rgb(77, 77, 77);
  --grey-dark: #989898;

  --vt-c-indigo: #dfdfdf;
  --button-background: #00689d;
}

body {
  min-height: 100vh;
  color: var(--black-soft);
  background: var(--white-soft);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
